<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hibernate.generate_statistics">true</property>
		<property name="hbm2ddl.auto">none</property>
		<property name="dialect">org.hibernate.dialect.MariaDBDialect </property>
		<property name="connection.url">jdbc:mariadb://centauri.proximainformatica.com:193/academyfs07_test</property>
		<property name="connection.username">acfs07_test</property>
		<property name="connection.password">acfs07_test</property>
		<property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
		<mapping class="proxima.informatica.academy.dto.QuestionsDto" />		
		<mapping class="proxima.informatica.academy.dto.UserDto" />				
		<mapping class="proxima.informatica.academy.dto.SurveyDto" />
		<mapping class="proxima.informatica.academy.dto.CoursePageDto" />
		<mapping class="proxima.informatica.academy.dto.CandidatesDto" />
		<mapping class="proxima.informatica.academy.dto.SurveyquestionsDto" />		
		<mapping class="proxima.informatica.academy.dto.RoleDto" />
		<mapping class="proxima.informatica.academy.dto.SurveyrepliesDto" />
		<mapping class="proxima.informatica.academy.dto.CandidateStatesDto"/>
	</session-factory>

</hibernate-configuration>